/* todo: Navegação */
nav {
    padding: 16px 0;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

.container .coll {
    font-size: 2rem;
    display: none;
}

nav>.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu ul {
    display: flex;
    gap: 10px;
}

.nav-menu ul li {
    list-style: none;
}

a {
    text-decoration: none;
    transition: 0.4s;
    color: #243010;
    font-weight: bold;
}

a:hover {
    color: #445218;
}

/* todo:Formulário de Contato */
.container-form {
    height: 84vh;
}

.form {
    display: flex;
    justify-content: space-between;
    height: 85%;
    margin-top: 5%;
}

.form-container {
    width: 100%;
}

.top h2{
    padding-bottom: 1.2rem;
}

.campos,
.campo,
.bottom {
    opacity: 0;
    padding-right: 8%;
    margin-bottom: 5%;
    animation: 0.5s fadeUp forwards;
    animation-delay: 0.3s;
}

.campos {
    margin-top: 7.5%;
    display: flex;
    gap: 3.5%;
}

.form-control {
    padding: 0.8rem;
    border-radius: 0.9rem;
    background-color: #f4f5f0;
    border: none;
}

.form-control::placeholder {
    color: #C0CC9B;
}

.form-label {
    color: #243010;
    user-select: none;
}

.form-check {
    opacity: 0;
    animation: 0.5s fadeUp forwards;
    animation-delay: 0.3s;
}

.bottom button {
    width: 100%;
    padding: 10px;
    border-radius: 0.9rem;
    border: none;
    margin-top: 10%;
    color: #e8e8ed;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #243010;
}

.bottom button:hover {
    background-color: rgba(36, 48, 16, 0.945);
}

.img-container {
    width: 80%;
}

.form img {
    height: 95%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    animation: 0.5s fadeLeft forwards;
}

/* todo: Sessão de Contato */
.contact-container {
    background-color: #C0CC9B;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    padding: 7rem;
}

.row {
    gap: 3%;
}

.col {
    width: 31.3%;
    padding: 1.3rem;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.76);
}

.col .top {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.contact-container img {
    width: 55px;
    border-radius: 15px;
}

/* todo: Rodapé */
.footer {
    background-color: #111406;
}

.footer>.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
}

.footer>.container .nav-menu {
    display: flex;
    gap: 0.6rem;
    padding-bottom: 0.6rem;
}

.footer>.container .nav-menu a,
.footer>.container p {
    color: #C0CC9B;
}

.footer>.container .nav-menu a:hover {
    color: #e8e8ed;
}

/* todo: Animações */
@keyframes fadeLeft {
    0% {
        opacity: 0;
        transform: translateX(30px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
        transform: scale(1);
    }
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(15px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.h4,
.p,
.a,
.img {
    opacity: 0;
    animation-delay: 0.1s;
}

.h1,
.h4,
p{
    color: #243010;
}

.p {
    animation-delay: 0.2s;
}

.a {
    animation-delay: 0.4s;
}

.h5{
    opacity: 0;
}

.h1.visible,
.h4.visible,
.p.visible,
.a.visible,
.img.visible,
.h5 {
    animation: 0.5s fadeUp forwards;
}

.campos,
.campo,
.bottom {
    animation-delay: 0.3s;
}

.top p {
    color: #445218;
    animation-delay: 0.1s;
}

.form-check {
    opacity: 0;
    animation: 0.5s fadeUp forwards;
    animation-delay: 0.3s;
}

/* todo: Media Queries */
@media screen and (min-width: 768px) and (max-width: 1000px) {
    .footer>.container {
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
    }

    .contact-container {
        padding-left: 1.1rem;
        padding-right: 1.1rem;
    }

    .footer>.container .nav-menu {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 0.5rem;
        padding-bottom: 0;
    }

    .h4 {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 800px) {
    .form {
        flex-direction: column;
    }

    .form-container {
        width: 100%;
    }

    .campos,
    .campo,
    .bottom {
        padding-right: 0;
    }

    .container .btn {
        display: block;
    }

    nav>.container {
        position: relative;
    }

    nav>.container .nav-menu {
        position: absolute;
        width: 100%;
        top: 100%;
        right: 0;
        display: none;
    }

    nav>.container .nav-menu ul {
        background-color: white;
        padding: 1rem;
        border-top: none;
        flex-direction: column;
        text-align: end;
    }

    nav>.container .nav-menu ul li:not(:last-child){
        border-bottom: 1px solid #e8e8ed;
        padding: 0.4rem 0;
    }

    .form-top .top h2{
        font-size: 2.3rem;
    }

    .form-container {
        margin-bottom: 4rem;
    }

    .contact-container {
        margin-top: 10rem;
        padding-left: 1.1rem;
        padding-right: 1.1rem;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .img-container{
        width: 100%;
    }

    .h4 {
        font-size: 1.6rem;
    }

    .row {
        gap: 2rem;
    }

    .col {
        width: 100%;
        padding: 2rem;
        padding-left: 1.3rem;
        padding-right: 1.3rem;
    }

    .footer>.container {
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
    }

    .footer>.container .nav-menu {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 0.5rem;
        padding-bottom: 0;
    }

    .footer>.container .nav-menu a {
        color: #C0CC9B;
        transition: 0.4s;
    }

    .footer>.container .nav-menu a:hover {
        color: #e8e8ed;
    }
}

@media screen and (min-height: 1px) and (max-height: 400px) {
    .container-form {
        margin-bottom: 4rem;
    }
}